<section id="calendar_nav">

	<div id='loading'>loading...</div>

	<div id='calendar'></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="large text-muted" style="word-wrap: break-word;">The calendar can be found at the following link:
https://calendar.google.com/calendar/ical/sgsu6qab7n3i7p2b2mthktmupk%40group.calendar.google.com/public/basic.ics<p>
							<p class="large text-muted"> With that link, you should be able to add it to any calendar software you're using. </p>
              <p class="large text-muted">
Here are the steps required for Google Calendar:</p>
              <p class="large text-muted">
"Other calendars" (bottom left hand corner) → "Add by URL" → Paste the site in there
              </p>
            </div>
        </div>
    </div>

</section>
