<!-- WIP : https://developers.google.com/gdata/articles/calvis?csw=1 -->

<!-- Calendar Section -->
    <section id="calendar">
            <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
            <script type='text/javascript'>
              function GCalEvents(gcal_json_url) {

        // Get list of upcoming iCal events formatted in JSON
        jQuery.getJSON(gcal_json_url, function(data){

            // Parse and render each event
            jQuery.each(data.feed.entry, function(i, item){
                if(i == 0) {
                    jQuery("#gcal-events li").first().hide();
                };

                // event title
                var event_title = item.title.$t;

                // event contents
                var event_contents = jQuery.trim(item.content.$t);
                // make each separate line a new list item
                event_contents = event_contents.replace(/\n/g,"</li><li>");

                // event start date/time
                var event_start_date = new Date(item.gd$when[0].startTime);

                // if event has a start time (as oppose to all day), format date with time
                if(event_start_date.getHours() != 0 || event_start_date.getMinutes() != 0) {
                    var event_start_str = event_start_date.toString("ddd MMM d, h:mm");
                } else {
                // otherwise format start as date only (without time)
                    var event_start_str = event_start_date.toString("ddd MMM d");
                };

                // event location - if not null, surround with parens
                var event_loc = item.gd$where[0].valueString;
                if(event_loc!="") {
	                event_loc = " in " + event_loc;
	            };

                // Render the event
                jQuery("#gcal-events li").last().before(
                    "<strong>" + event_title + "</strong><br />"
                    + event_start_str + event_loc+"<br />"
                );
            });
        });
    }
            </script>

        <div class="container">
          <div align="center">
            <h5>Below is a list of upcoming events.</h5>
              <div class="mobile-hide">
              <h5>You can also see the <a class="page-scroll" href="#calendar_popup">full calendar by clicking here</a>.</h5>
            </div> <!-- mobile hide the full calendar link -->
              <ul id="gcal-events">
                <li>No events listed</li>
              </ul>

              <script type="text/javascript" charset="utf-8">
                var calendar_json_url = "https://www.google.com/calendar/feeds/sgsu6qab7n3i7p2b2mthktmupk%40group.calendar.google.com/public/full?orderby=starttime&sortorder=ascending&max-results=10&futureevents=true&alt=json"
                $(document).ready(GCalEvents(calendar_json_url));
              </script>

            <p>You can add the MCR calendar to the one on your phone or laptop/computer <a href="https://www.google.com/calendar/ical/sgsu6qab7n3i7p2b2mthktmupk%40group.calendar.google.com/private-b21f51a9b829033ea96a23f5a099031f/basic.ics">by clicking here</a></p>
            <p><em>(A pop up will open on your device asking if you want to subscribe. This subscription works on Mac and PC)</em>.</p>
            </div>
        </div>
    </section>
