<!-- WIP : https://developers.google.com/gdata/articles/calvis?csw=1 -->

<!-- Get java and css-->
<script src="//gcal.appspot.com/calvis/calvis.js" type="text/javascript"></script>

<!-- Shit that runs calendar-->
<script type="text/javascript">
window.onload = function() {
  calvis.ready(main);
}

function main() {
  var calId = 'sgsu6qab7n3i7p2b2mthktmupk@group.calendar.google.com';

  var calendar = new calvis.Calendar();

  // set the CSS IDs for various visual components for the calendar container
  calendar.setCalendarBody('calendarBodyDiv');
  calendar.setStatusControl('statusControlDiv');
  calendar.setNavControl('navControlDiv');
  calendar.setViewControl('viewControlDiv');
  calendar.setEventCallback('mouseover', displayEvent);

  // set the calenar to pull data from this Google Calendar account
  calendar.setPublicCalendar(calId);
  calendar.setLoginControl('loginControlDiv');

  calendar.setDefaultView('month');
  // display the calendar
  calendar.render();
}

function displayEvent(event) {
  var title = event.getTitle().getText();
  var date = event.getTimes()[0].getStartTime().getDate();
  var content = event.getContent().getText();

  var eventHtml = [];
  eventHtml.push(date.toString());
  eventHtml.push('<br><br>');
  eventHtml.push('<b>Event title:</b> ');
  eventHtml.push(title);
  eventHtml.push('<br>');
  eventHtml.push('<br>');
  eventHtml.push('<b>Notes (if any):</b>');
  eventHtml.push('<p style="font-size: 11px;">');
  eventHtml.push(content);
  eventHtml.push('</p>');
  eventHtml.push('<br>');

  document.getElementById('eventDisplayDiv').innerHTML = eventHtml.join('');
}
</script>
<!-- Calendar Section -->
    <section id="calendar_popup">
        <div class="container">
          <div align="center">
              <table style="width: 800px;">
                <tr>
                  <td colspan="2" valign="top">
                    <div style="float: left;" id="loginControlDiv"></div>
                    <div style="float: right;" id="statusControlDiv"></div>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <div id="navControlDiv"></div>
                  </td>
                  <td valign="top" align="right">
                    <div id="viewControlDiv"></div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" valign="top">
                    <div id="calendarBodyDiv"></div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" valign="top">
                    <div id="eventDisplayDiv"></div>
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </section>
