<!-- About Section -->
    <section id="documents" class="bg-light-gray">
        <div class="container">
  <ul>
    <li>The MCR constitution is available <a href="http://mcr.jesus.cam.ac.uk/private/resources/constitution.pdf" target="_blank">by clicking here (Raven login required)</a>.</li>
    <li>You can see minutes from MCR meetings <a href="https://www.dropbox.com/sh/tn1z5y92of7vtbz/AACvvrPeGxLZV4n1-tEfZDc6a?dl=0">by clicking here</a>.</li>
    <li>The whisky club tasting archive can <a href="http://mcr.jesus.cam.ac.uk/whisky/" target="_blank">by found here</a>.</li>
    <li>The 2016 Freshers Fortnight schedule can <a href="{{ "/resources/Freshers-Fortnight_16.pdf" | prepend: site.baseurl | prepend: site.url }}" target="_blank">be found here</a>.</li>
  </ul>
        </div>
    </section>
