<section id="freshers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Freshers FAQ</h2>
        <p class="text-muted">Some valuable FAQs for all Freshers to Jesus. Any questions not answered below are likely to be answered in the <a href="https://jnet.jesus.cam.ac.uk/jnet/students/graduate-handbook">Graduate Handbook</a>, <a href="https://jnet.jesus.cam.ac.uk/jnet/students/graduate-freshers-information/accommodation/frequently-asked-questions">Accomodation FAQ</a>, and <a href="https://jnet.jesus.cam.ac.uk/jnet/students/graduate-freshers-information/international-students-arrival-information">International students arrival pack</a>.</p>
      </div>
    </div>

    <div class="panel-group" id="faqAccordion">
      <!-- Zero --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
          <h4 class="panel-title" style="color:black;text-transform:none;">What is the MCR?</h4>
        </div>
        <div id="question0" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>The Middle Combination Room, referred to as the MCR, is run solely by graduate students for Graduates within Jesus College. Our aim is to represent the opinions and needs of the Graduate community to the College fellowship and the University, to maintain links with the Graduate Union and other MCRs, to facilitate the interaction of graduates with fellows, and perhaps most importantly to offer a wide range of social and academic opportunities targeted speciﬁcally towards the Graduate community.</p>
            <p>We offer an initial point of contact if you have problems with social or welfare issues and if we cannot help you directly we will refer you to the people who can. Throughout Freshers’ Fortnight, and the rest of the year, we hope to provide a varied selection of sports, academic and social events to suit all tastes. A number of exchange events will also be run in conjunction with the MCRs of other colleges, providing an opportunity to meet students outside Jesus College. The success of events organised by the society is only achieved thanks to an active and enthusiastic membership. If you have any ideas for other events or would like to help in the running of the MCR, please come and let us know.</p>
          </div>
        </div>
      </div>

      <!-- First --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
          <h4 class="panel-title" style="color:black;text-transform:none;">Do I need a visa?</h4>
        </div>
        <div id="question1" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>The first thing to do when preparing for your departure is to check whether you need a student visa. The UK Border Agency has brought into effect a new points based immigration system in 2012 and you must make your visa application under the new set of rules. Make sure you use the latest version of the application form. In order to obtain your Tier 4 visa, you must submit a valid application and you must score 40 'points'. As well as using the correct application form, you will need several other things before you submit your application.</p>
            <p> Always check <a href="https://www.gov.uk/tier-4-general-visa/overview">www.gov.uk/tier-4-general-visa/overview</a> for the latest information regarding student visas.</p>
            <h3 style="text-transform: none">Obtaining a CAS</h3>
          <p>To score 30 points you must have a Confirmation of Acceptance for Studies (CAS). A Confirmation of Acceptance for Studies is not an actual certificate or paper document but is a virtual document similar to a database record. Each CAS has a unique reference number, provided to you by the UKBA (via the University’s Points Based Immigration (PBI) Office).

          The PBI Office will issue a CAS to you if you are:</p>
          <ul>
            <li>A prospective student (or a current student starting a new course) and you have an unconditional offer (i.e. you have met ALL the conditions of your offer)</li>
            <li>A current student, and your existing visa will expire before you finish your course</li>
            <li>A visiting student (if necessary).</li>
            <li>The CAS statement will be sent to you by email, containing your CAS number, which you will need to provide on your Tier 4 visa application form. The CAS statement also contains the details of your CAS, as submitted by the PBI Office to the UKBA. You will need to check these details are correct and make sure they correspond to the details you provide in your Tier 4 visa application form.</li>
            <li>Evidence of Fees and Maintenance</li>
          </ul>
          <p>To score 10 points, you must provide evidence that you can meet the cost of the fees, your maintenance and the maintenance of any dependents that you bring with you, without working in the UK or claiming public funds.</p>

          <p>The CAS will show the fees that you owe. You must also calculate the maintenance amount that the UKBA expects you to demonstrate. You should read the financial sections of the application form and guidance as soon as possible to ensure that you have the necessary funds in place for the required amount of time, and that you provide the correct proof.</p>

            <h3 style="text-transform: none">Obtaining an ATAS certificate</h3>
            <p>Depending on your course, you may also need to include a valid ATAS certificate. Visit the <a html=""> ATAS website</a> for details.</p>
            <p>
            In rare cases, you may already been within the UK on another visa and need to change to a student visa before you commence your studies at Cambridge. If this applies to you please be aware that while the required documentation is the same, the processing time and costs are significantly higher and longer than applying from your home country in most cases.</p>

            <p>Note that the UKBA will only allow you to apply for a student visa from within the UK if your current visa is of a certain type (e.g. prospective student visa). If you are not currently on one of these visas you will have to return to your home country in order to apply. In particular, you may not transfer from a tourist visa to a student visa from within the UK.</p>
          </div>
        </div>
      </div>

      <!-- Four --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
          <h4 class="panel-title" style="color:black;text-transform:none;">How do I submit a valid visa application?</h4>
        </div>
        <div id="question4" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body"> 
            <p>To submit a valid visa application you must provide everything that the UKBA specifies. Examples of reasons for failure of an application include:</p>
            <ul>
              <li>Failure to provide evidence of funds (such as bank statements that do not meet the requirements, or inability to show that funds have been in place for 28 days)</li>
              <li>Failure to obtain valid translations of documents into English</li>
              <li>Failure to include certificates or transcripts, where such documents are specified in the CAS</li>
              <li>Payment failure (those applying by post should always pay by banker's draft or postal order - NOT by debit or credit card)</li>
            </ul>
            <p>The application process and form are different, depending on whether you are submitting your application in the UK or your home country. If you are applying from inside the United Kingdom, you have to fill in an application form, and either post it or make an appointment to take it to a public enquiry office with your visa fee and documents and proof. When notified, you must also arrange to give your biometrics.</p>

            <p>If you are applying from outside the United Kingdom, you should check with your local visa issuing post (also known as entry clearance post) to see how you may need to apply in your country of residence, as well as providing the application form and your documents and proof, and your biometrics. Anyone seeking a visa to enter the UK will be required to supply biometric data (finger scans and a full-face digital photograph). In order to provide this information, applicants will have to visit a UK visa office or visa application centre in person.</p>

            <p>As of the 31th July 2012, the UKBA may ask you to attend an interview to determine if they will issue you with a visa or not. If you are asked to attend such an interview you must attend, otherwise the UKBA may deny your application.</p>

            <p>It is strongly recommended to pay by postal order! This way it is guaranteed that the money arrives on time; a cheque or credit/debit card payment may be refused because numbers are not written clearly or for other reasons, in which case your application will be classified as invalid, returned and you will have to re-submit. This can severely delay the whole process. If you are already in the UK you may be classed as an overstayer!</p>

          </div>
        </div>
      </div>
      
      <!-- Five --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
          <h4 class="panel-title" style="color:black;text-transform:none;">What do I do once my visa is granted?</h4>
        </div>
        <div id="question5" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Check that you have been granted the correct amount of leave. Your visa should be granted for the full duration of your course (according to the end date shown in your CAS) plus four additional months. Mistakes can sometimes be corrected if they are addressed early.</p>
          </div>
        </div>
      </div>

      <!-- Six --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
          <h4 class="panel-title" style="color:black;text-transform:none;">What do I do if my visa is rejected?</h4>
        </div>
        <div id="question6" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>You must inform the PBI Office at studentvisas@admin.cam.ac.uk, the International Office at internationalstudents@admin.cam.ac.uk, your College and your department straight away. In some cases you may have to leave the UK. You will need to seek advice on the options available to you.</p>
            
            <p>Even if you are not a national who requires a student visa, unless you are a European Economic Area (EEA) or Swiss national, you are required to obtain entry clearance before coming to the UK if you are studying a course which lasts for more than six months.</p>
            
            <p>Please make sure that you read the guidance and application procedure online carefully when you make your application. These websites provide information on whether you require a visa to study in the UK if you are already in Cambridge, the application process, and what to expect when you arrive. Remember to leave ample time for processing and delays.</p>
          </div>
        </div>
      </div>

      <!-- Seven --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
          <h4 class="panel-title" style="color:black;text-transform:none;">Who do I speak with for questions about finance?</h4>
        </div>
        <div id="question7" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Life at Cambridge can be expensive, but it doesn't have to be. The most important cost you will incur is from your college bill.</p>
            <p>The Financial Tutor deals with any student problems that are primarily of a financial nature. The Financial Tutor can make special arrangements for payment of College bills (including permission to defer payment), discuss funding arrangements and can advise on your eligibility for assistance from various funds by means of either grants or loans.</p>
            <p>If you are unable to meet the deadline because for example you have not received your scholarship or grant, or your maintenance is paid in monthly rather than in termly instalments, you should contact the Finance Office immediately. Failure to pay by the deadline will be referred to the Dean of the College as a disciplinary issue and will incur a £30 fine.</p>
            <p>If you have personal issues relating to finance, which you wish to discuss privately and in confidence, you can attend one of the Tutorial Advisers' surgery hours, which are listed on JNet. There is a tutorial hour every weekday and the rota is held in the Porters’ Lodge.  You do not need an appointment.  Tutorial Advisers are there to help graduate students.</p>

          </div>
        </div>
      </div>

      <!-- Eight --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
          <h4 class="panel-title" style="color:black;text-transform:none;">What should I pack?</h4>
        </div>
        <div id="question8" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Cambridge can get pretty cold in winter, so bring your woolly jumpers. A pillow and duvet are provided, but you will need your own sheets, pillow covers and towels (and probably your own duvet cover, as the College ones tend to have seen better days).</p>
            <p>Grads coming from overseas will probably want to buy bedding and towels once you get here rather than bring it from home. Argos on Fitzroy Street, Debenhams in the Grafton Centre, John Lewis on Regent Street, as well as the large Tesco on Cheddars Lane (see City Centre map) all sell these items. As most of the shops close at 5.30PM, if you will be arriving later than this, you should bring something to get you through the first night.</p>
            <p>Pots and pans, cutlery and crockery will be useful. You may find there is a fair amount of stuff in your kitchen that has been left by previous tenants. Otherwise, fairly cheap kitchenware is available at Sainsbury’s in the town centre, or at Asda or Tesco supermarkets a short walk outside town, and friendly housemates are usually willing to lend a saucepan or two!</p>
          </div>
        </div>
      </div>
      
      <!-- Nine --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
          <h4 class="panel-title" style="color:black;text-transform:none;">What amenities are included in college?</h4>
        </div>
        <div id="question9" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Depending on your house, you may not have a great deal of kitchen space or fridge space. Many grads do not find this problematic as numerous grocery stores are in the vicinity. Some houses may have kitchen supplies and utensils leftover from former occupants or your housemates may be keen to share. They can also be acquired (at varying prices and qualities) from different home supply stores.</p>
            <p>Each room has an IT point. Before you arrive in College you should have received a guide regarding computing services and information on how to set up your College intranet account including how to make contact with the IT Department if you encounter any problems or need assistance. You will also need to register your computer’s MAC address with the IT Department.</p>
            <p>You may have guests stay overnight in your room, and fold-up beds are available from the Porters Lodge for a small nightly fee.</p>
            <p> Most Graduate accommodation has a cleaner (known as a ‘bedder’) who comes in at least once a week to clean the communal areas (toilets, bathrooms, kitchens), while you are left to clean your own room yourself. For your safety, houses are equipped with a fire alarm system. If the fire alarm is set off for any reason (e.g. burnt toast!), don’t panic – evacuate the building and call the Porters on (01223) 339339 and one of them will come round and turn it off.</p>
            <p>Over the summer of 2003 the College installed washing machines (and dryers in the larger houses) in all College Houses on Jesus Lane, Park St, Lower Park St, Malcolm Street and Maid’s Causeway (known as “external staircases”). All Graduate accommodation is in these houses, so you should now be able to use these for most things rather than having to use the laundries within college. If you need to use a tumble dryer, laundry facilities are available in College in the basement of Chapel Court 14. The laundries get busy—late at night is a good way to avoid queuing. Be Warned: If you are not there when your cycle ends, another person in line may remove your washing and dump it somewhere in the laundry, not necessarily on a clean surface! If you require the occasional use of an iron, one can be signed out from the P’lodge. There are ironing boards in the College launderettes or often left behind by previous tenants in many of the houses.</p>
            <p> The College is usually quite happy for your visitors to park in the College car park, although it is worthwhile checking with the Porters beforehand in case the College is expected to be busy. If you wish to keep your own car in Cambridge, there are an extremely limited number of permits available to park in the College car park. These are decided by ballot: applications are made via the Senior Tutor’s Office (a parking permit will set you back £146 per term). If you do not park in College you will need a resident’s parking permit from the Guildhall and a Pass from the University—the Senior Tutor will advise you on this. There are roads which do not require a permit on the other side of the river, which is fine on a temporary basis, but your car will be picked up and towed away, and you will be heavily fined, if you park it in the wrong place or illegally, so be careful!</p>
            <p>In all accommodation, as with the entirety of college grounds (excepting two designated areas), smoking is prohibited.</p>
          </div>
        </div>
      </div>

      <!-- Ten --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
          <h4 class="panel-title" style="color:black;text-transform:none;">How do I get to Cambridge?</h4>
        </div>
        <div id="question10" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>There is a bus connection to Cambridge from every London airport. See <a href=" http://www.nationalexpress.com">www.nationalexpress.com</a> for details of coach timings and connections.</p>
            <p>From Stansted you can also take the train. From Heathrow and Gatwick, you can also take the tube to the centre of London and then take the train from Kings Cross Station to Cambridge. From Heathrow and Gatwick the tube can be faster than the bus, but perhaps not as convenient if you arrive with a lot of luggage. Not only do you have to change from the underground to the train in London, but the tube can get very full at times!</p>
            <p>The last stop for the airport buses to Cambridge is currently Parkside, near Parker’s Piece, about 5 minutes’ walk from the main bus station on Drummer Street. The bus station is a 10 minute walk from the College. The rail station is a 30 minute walk from Jesus. If you are arriving by train, a taxi from the station should cost no more than £7-8. Alternatively, you can take a local bus to the city centre (Drummer Street) for £1.50 and walk for 10 minutes to reach the college. Refer to the map in your welcome pack, and if you get stuck, just ask someone!</p>
          </div>
        </div>
      </div>

      <!-- Eleven --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
          <h4 class="panel-title" style="color:black;text-transform:none;">What do I do immediately afer I arrive in Cambridge?</h4>
        </div>
        <div id="question11" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Enter the college via the main gate (Tower Gate/Chimney/Porters' Lodge entrance) and enter the first door on your left. </p>
            <p>If you arrive in the middle of the night, the porters can still help you -- they are on duty 24 hours a day. If you arrive between midnight and 6 am, the large wooden gates will be closed. Simply ring the night bell, the small button on the left side of the archway; the porters will let you in.</p>
            <p> If you have any difficulties, you can telephone the Porters’ Lodge 24-hrs a day on 01223 339339.</p>
          </div>
        </div>
      </div>
      
      <!-- Twelve --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
          <h4 class="panel-title" style="color:black;text-transform:none;">Why do I need a university card?</h4>
        </div>
        <div id="question12" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>The University card is your student ID card throughout the university, and your library card for the University and many Departmental Libraries. University cards should be available at the Porters lodge upon your arrival. If for any reason your card is not available when you arrive but you want to buy tickets for Hall contact the committee for help (the earlier you do this, the greater the likelihood that we can source you a ticket in time!). It’s worth making a note of the number in the bottom left corner on the back of your card in case you lose it - you will usually be charged for a replacement card.</p>
            <p> Your University card will open doors to almost all the fun places in College. You just need to wave your wallet or bag in front of the sensor and the door will open, as if by magic. It is used as an entry card to the Quincentenary Library, the Kwok Room (computer centre) and the Grad Room. The bar code on the back is used to take out library books. It is sometimes referred to as your “Caff card” because you can also use it to buy tickets for meals in College (Caff/Formals), including Grad Hall. The current system works as a debit system where you have to put money on your card account before you can use it. When you buy food in caff, drinks in the bar, or a hall ticket at the ticket machine in the Porters’ Lodge or online through the booking system, the money will automatically be debited from your card account. So before you can do all of this you need to put money on your card this can be done in a number of ways:</p>
            <ul>
              <li>By cash, cheque or debit card at the Catering Accounts office in East House: opening times are: Monday to Friday: 8.30am- 1.00pm and 2.15pm-5.00pm (closes at 4.00pm on Fridays)</li>
              <li>By cash/cheque at the Bar (no minimum)</li>
              <li>On Upaychilli.com follow the instructions on the screen.</li>
            </ul>
            <p>Married students can also get a special University Card for their spouse, which allows access around the University. Speak to the Graduate Tutor and they can help you arrange this.</p>
          </div>
        </div>
      </div>
      
      <!-- Thirteen --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question13">
          <h4 class="panel-title" style="color:black;text-transform:none;">What are different dress codes?</h4>
        </div>
        <div id="question13" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>Throughout the year, a wide variety of events are held at Jesus College. Some are informal and have no dress code, others are quite special occasions where a certain style of dress is expected. At these events, the dress code is usually published. The purpose of this guide is to demonstrate what different terminologies entail and provide examples of what that may look like. Very rarely would someone be turned away from an event for incorrect attire and you should never feel like you should not attend an event because you are unable to be perfectly dressed. This guide hopes to prevent such situations entirely. Not matching the descriptions exactly usually should not be a cause for concern — few others will actually notice (and fewer will care)!</p>
            <p>These dress codes are those most likely to be encountered at Cambridge. Each style is presented with a brief explanation of what men and women could wear and is accompanied by visual examples of what that may look like. A list of events or situations where level of dress is appropriate is also included for each. Because women’s attire often has much variance, the terminology on invitations often simply employs the men’s terminology. This leaves women to determine the corresponding dress, often with a degree of latitude (sometimes the addition of a simple cardigan is enough to elevate the formality to an entirely different level).</p>
            <h4>Black tie (Also known as tuxedo or dinner jackets)</h4>

            <p>Likely the most formal dress standard usually seen at Cambridge, black tie events are those with the most formality. Men wear a traditional evening suit, usually black with facings on the lapels and a stripe along the seam of the trousers; lacking an actual dinner jacket, a regular solid black suit works just as well. The suit is accompanied by a white dress shirt, bow tie (often black, but a college bow tie is always acceptable), and often with a cummerbund or waistcoat (vest). Women traditionally wear a formal evening dress (floor-length), but a classy cocktail dress (knee length) or anything in between is acceptable. Kilts and other forms of national dress may be acceptable.</p>
            <p>When to wear: May Ball, select super-halls (e.g. Burn’s Night, End of Year Dinner)</p>

            <h4>Business attire (Also known as lounge suits)</h4>
            <p>As the name suggests, this is the attire traditionally expected in business, what one may wear to a job interview. For men, this means a suit with matching trousers and jacket, often dark coloured, for example, grey, navy blue, or black. This is worn with a collared shirt (usually white or other solid light colour) and a tie. Women may choose to wear, for example, a trouser suit, a conservative skirt and blouse, or cocktail dress—this can depend on the time of day, the weather, or the nature of the event.</p>
            <p>When to wear: Formal Hall (with gowns), a reception with a dignitary, select super-halls (e.g. Graduate Conference Dinner, Christmas)</p>
            <h4>Smart</h4>
            <p>While a very difficult dress code to pin down, smart is best defined as somewhere between lounge suits and smart casual. Men are encouraged to wear a jacket and tie, but not necessarily a full matching suit. Less conservative shirts may be worn, as may cardigans, blazers, or chinos. Again, women may wear a range of apparel, generally mixing elements of more formal and less formal. Jeans, t-shirts, and shorts are not worn.</p>
            <p>When to wear: special dinners, select super-halls (e.g. Easter)</p>

            <h4>Smart Casual</h4>
            <p>Perhaps equally hard to define, smart casual offers a great deal of flexibility, while still retaining a classy appearance. A jacket (or cardigan, blazer, or jumper) or a tie may be worn by men, but rarely both. Chinos or even a very nice pair of jeans may be worn. Again, depending on the context, women can wear a range of apparel. The idea is to look nice, without being as formal as wearing a suit.</p>
            <p>When to wear: Grad Hall, academic conferences</p>

            <h4>Casual (Also known as come as you are)</h4>
            <p>Just about anything you’d wear in public counts as casual: jeans, t-shirts, skirts, shorts, sandals, etc. If no dress code is explicitly stated, it usually implies casual.</p>

            <p>When to wear: MCR social events, the bar</p>

            <h4>Gowns</h4>
            <p>Gowns are generally worn with lounge suit attire, although there may be times when black tie with gowns is called for. There are certain times when gowns are encouraged (e.g. chapel services) when smart casual could be accepted. If gowns are expected, it will generally be made explicit on the invitation or event information.</p>

            <p>At the beginning of the year, the MCR will have a sale of second hand gowns. They are also available new or second hand at various places in town (Ryder & Amies, Ede & Ravenscroft, and the Grad Union). There are two types of gowns that grads wear:</p>
            <ul>
              <li>BA Gown: a long black gown that falls just below the knees with bell shaped sleeves, open along the seam. Worn by grad students with a bachelor's degree under the age of 24.</li>
              <li>MA Gown: a long black gown that goes to calf length, with boot shaped sleeves with an arm slit at the elbow. Worn by grad students with a bachelor's degree 24 years or older.</li>
            </ul>
            <p>Wikipedia has an extensive flow chart to help you determine which gown you should wear: https://commons.wikimedia.org/wiki/File:Cambridge_gown_flow_chart.svg#/media/File:Cambridge_gown_flow_chart.svg</p>

            <p>Strictly speaking, if your previous degree is from a different university other than Cambridge, the inner ribbons of your gown should be removed. However, most students just tuck them in to allow them to resell it down the road.</p>
          </div>
        </div>
      </div>
      
      <!-- Fourteen --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question14">
          <h4 class="panel-title" style="color:black;text-transform:none;">What is the Graduate Office?</h4>
        </div>
        <div id="question14" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>
            The College Graduate Office is open every weekday from 10.30am to 12.30pm and 2.30pm to 4.00pm. It is located in M Staircase, Room 4.
            Email: gradtutor@jesus.cam.ac.uk
            Telephone: 01223 339421</p>

            <p>You may need to ask for help with applying for an extension, interruption to your studies, leave to work away, applying for financial assistance, a visa letter, returning home unexpectedly or you may just need to talk about your worries about your course or difficulties with your studies. You may wish to discuss the financial implications of changing degree, moving onto a PhD and the opportunities for research studentships, scholarships and other awards. You can discuss these issues with the Graduate Tutors by attending a surgery hour. You do not need to make an appointment, just turn up at one of the weekly surgery hours.</p>

            <p>The Graduate Tutors’ surgery hours are generally held between 6pm and 7pm every Wednesday, in the Graduate Tutor’s College room (F Staircase, Room 6). The dates and location of the Graduate Tutors’ surgery hours are listed on JNet and are displayed outside the office door of the Graduate Office (M Staircase, Room 4), the MCR Room and in the Cloister display cases and those opposite the Porters’ Lodge. An individual appointment outside surgery hours can be arranged through the Graduate Secretary.The Graduate Tutors are responsible for:</p>

            <ul>
              <li> all matters related to the academic study of graduates and their progress throughout their course</li>
              <li>the personal well being of graduates</li>
              <li>the signing of all University forms relating to Graduate Studies</li>
              <li>applications to the College research funds</li>
            </ul>
            <p>The Graduate Tutors also advise on matters relating to appeals and the implications for studies on personal, financial and health issues. All graduates should notify the Graduate Tutors if they experience difficulties that affect their studies and if they experience periods of ill health.</p>

            <p>The Graduate Tutors are always contactable through the Graduate Secretary and by email gradtutor@jesus.cam.ac.uk. All forms that need a signature should be taken in the first instance to the College Graduate Office well in advance of the deadline (e.g. leave to work away, interruptions in study, intermissions, application for extensions of submission dates, funding applications for child care, support for learning, etc).</p>

            <p>The Graduate Secretary is based in the Graduate Office, located on M Staircase, Room 4. Their student hours are from 10.30am to 12.30pm and 2.30pm to 4.00pm each week-day or at alternative times by prior arrangement. They can provide relevant information on, and help with, for example:</p>
            <ul>
              <li>forms relating to interruption, extensions and withdrawal from studies</li>
              <li>application for College research funds, child care trusts, thesis binding grants etc</li>
              <li>making an appointment with the Graduate Tutors</li>
              <li>queries relating to visas</li>
              <li>any other administrative matter relating to academic study.</li>
          </ul>

          <p>Personal matters, requests for permission to change room, requests for permission to have guests to stay, early cancellation of tenancy and all academic issues will be referred to the Graduate Tutors.</p>
          </div>
        </div>
      </div>

      <!-- 15 --> 
      <div class="panel panel-default ">
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question15">
          <h4 class="panel-title" style="color:black;text-transform:none;">What services are available at the Porters Lodge?</h4>
        </div>
        <div id="question15" class="panel-collapse collapse" style="height: 0px;">
          <div class="panel-body">
            <p>The college porters are responsible for the college's safety and security. Jesus has a fantastic group of porters who are friendly, helpful, and good natured. They can be found at the Porters’ Lodge (P’lodge) at the end of the Chimney, at the main Tower Gate. Their office is open and staffed 24 hours a day, both in term and out. As your first point of contact with the College, the Porters are a great source of knowledge and are definitely the people to ask when you don’t know something. The telephone number of the P’Lodge is 01223 339339 – useful to know in an emergency, for example if you or one of your housemates burns the toast and sets off the fire alarm, the Porters will come round and turn it off, saving you from the noise (if not the embarrassment!)</p>
            <p>At the Porters' Lodge, you can:</p>
            <ul>
              <li>Check out a spare key if locked out</li>
              <li>Unless prior arrangements have been made, only the resident of the room may collect a spare key or access card from the Porters’ Lodge.</li>
              <li>When a spare key or access card has been signed out the resident is allowed 72 hours to return it.</li>
            <li>When away from College on vacation or research, all keys to rooms in College must be returned to the Porters’ Lodge, as well as when you finally vacate your room.</li>
          <li>Lost keys and keys not returned incur a charge of £30. Lost access cards incur a charge of £10 for a replacement.</li>
        <li>Get replacement light bulbs</li>
            <li>Send and receive mail
              <ul>
                <li>Royal Mail: Standard postage rates apply; cleared in time to catch postal collection</li>
                <li>University Messenger Service (UMS): This is mail sent to Faculties, Departments and Fellows of other Colleges, etc. It is not to be used for sending mail to other students in other Colleges. There are two deliveries/collections of UMS daily Monday to Friday.</li>
                <li>Inter-Collegiate Mail Service (ICMS): This is mail which is sent student to student. There is one collection daily Monday to Friday.</li>
                <li>Collect parcels (check your pigeonhole in the MCR for the parcel slip). You should use the following address for your mail:</br>
                  &emsp;(Your name) PG</br>
                  &emsp;Jesus College</br>
                  &emsp;Cambridge</br>
                  &emsp;CB5 8BL</br>
                  &emsp;UNITED KINGDOM</li>
              </ul>
            </li>
            <li>Register your bicycle</li>
          <li>Reserve tennis or squash courts</li>
     <li> Take out the MCR Punt Pass</li>
    <li>Any emergency situation</li>
            </ul>
          </div>
        </div>
      </div>




    <!-- --> 
    </div>
  </div>
</section>
