<!-- Freshers Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Freshers' fortnight</h2>
                    <h3 class="section-subheading text-muted">New graduate students at Jesus College enjoy a fortnight of freshers’ events (existing graduate students are most welcome to take part and make the new students feel welcome). .</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Applying to Cambridge</h4>
                                    <h4 class="subheading">graduate.study.cam.ac.uk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduates apply to the university, rather than Jesus College. While filling out your application, you'll have the option of specifying Jesus as your college</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Getting into Jesus</h4>
                                    <h4 class="subheading">If accepted into Cambridge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our 'grad mum' Sheena will be in touch if you are accepted into Jesus MCR. Sheena will send you information on housing, and point you towards resources (like our wiki) you need.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Arriving in Cambridge</h4>
                                    <h4 class="subheading">When to arrive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our MCR has an action packed fortnight of events, so we encourage people to arrive a week before term starts. Check out our documents area below for annotated maps of Jesus College and Cambridge.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Freshers' fortnight</h4>
                                    <h4 class="subheading">Meet the MCR</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From historical tours, to cocktail nights and punting, there are events everyone. Your freshers pack will have the latest timetable, but the documents section has examples of previous timetables to peruse.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>See
                                    <br>you
                                    <br>soon!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
