---
title: Jesus College MCR (Private)
superTitle: This is where you 
subTitle: for Jesus MCR events and services
layout: private
---
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signups">Sign Ups</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#calendar_nav">Calendar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#other">References</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to the digital home of the</div>
                <div class="intro-heading">Jesus College MCR</div>
                <div class="intro-lead-in">for current Jesus students</div>
                <a href="#servicesModal12" class="page-scroll btn btn-xl" data-toggle="modal">Book the Punt</a>
                </br></br>
                <a href="../index.html" class="page-scroll btn btn-xl">Public Page</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

<!--  Grid Section -->
<section id="signups" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Ups</h2>
                <h3 class="section-subheading text-muted">Get Involved!</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.categories.signups %}
            <div class="col-md-4 col-sm-6 services-item">
                <a href="#servicesModal{{ post.modal-id }}" class="services-link" data-toggle="modal">
                    <div class="services-hover">
                        <div class="services-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}img/services/{{ post.thumbnail }}" class="img-responsive" alt="">
                </a>
                <div class="services-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

    {% include calendar.html %}
    {% include documents.html %}
    {% include fellows.html %}
    {% include team.html %}
