<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
{% include head.html %}

<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand page-scroll" href="{{site.url}}{{site.baseurl}}">{{site.title}}</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
										<li>
												<a class="page-scroll" href="{{site.url}}{{site.baseurl}}/academic/">Academic home</a>
										</li>
										<li>
												<a class="page-scroll" href="{{site.url}}{{site.baseurl}}">Main site</a>
										</li>
								</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
		</nav>

<header>
		<div class="container_subsite">
				<div class="intro-text">
						<div class="intro-heading">{{page.title}}</div>
				</div>
		</div>
</header>

<body>
	<div class="container_subsite"; style="font-size: larger;">
	</br>
        {{ content }}
  </div>
</body>
</html>
